<c-col xs="12">
  <c-card class="mb-4">
    <c-card-header>
      <strong>Listado de Productos</strong>
    </c-card-header>
    <c-card-body>
<table cTable>
    <thead>
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Nombre</th>
      <th scope="col">Stock</th>
      <th scope="col">Precio Unitario</th>
      <th scope="col">Categoria</th>
      <th scope="col">Subcategoria</th>
      <th scope="col">Proveedor</th>
    </tr>
    </thead>
    <tbody>
<!--      <tr *ngFor="let cliente of clientes; let i = index">-->
<!--        <td>{{ cliente.nombre }}</td>-->
<!--        <td>{{ cliente.cedula }}</td>-->
<!--        <td>{{ cliente.telefono }}</td>-->
<!--        <td>{{ cliente.direccion }}</td>-->

<!--    </tr>-->
    </tbody>
  </table>

    </c-card-body>
  </c-card>
</c-col>
