<c-col xs="12">
  <c-card class="mb-3">
    <c-card-header style="background-color: 	#5856d6">
      <strong style="color: white;">Listado de Productos</strong>
    </c-card-header>
    <c-card-body>
<table [striped]="true" cTable >
    <thead>
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Nombre</th>
      <th scope="col">Stock</th>
      <th scope="col">Precio Unitario</th>
      <th scope="col">Categoria</th>
      <th scope="col">Subcategoria</th>
      <th scope="col">Proveedor</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos; let i = index">
        <td>{{ producto.codigoProducto }}</td>
        <td>{{ producto.nombreProducto }}</td>
        <td>{{ producto.stock }}</td>
        <td>{{ producto.precioUnitario }}</td>
        <td>{{ producto.categoria }}</td>
        <td>{{ producto.subcategoria }}</td>
        <td>{{ producto.proveedor }}</td>
    </tr>
    </tbody>
  </table>

    </c-card-body>
  </c-card >
</c-col>
