<c-col xs="12">
  <c-card class="mb-4">
    <c-card-header>
      <strong>Nuevo Producto</strong>
    </c-card-header>
    <c-card-body>
      <form #f="ngForm" (ngSubmit)="f.form.valid && createProduct(f)">

        <div class="row mb-4"> <!-- Espaciado general entre las columnas -->
          <div class="col-sm-6">
            <c-row class="mb-3"> <!-- Espaciado entre cada fila -->
              <label cLabel class="col-sm-6 col-form-label">Codigo de Producto</label>
              <div class="col-sm-6">
                <input ngModel name="codigoProducto" cFormControl type="text" required class="form-control"/>
                <div *ngIf="f.submitted && f.controls['codigoProducto']?.invalid" class="text-danger">
                  Este campo es obligatorio.
                </div>
              </div>
            </c-row>

            <c-row class="mb-3"> <!-- Espaciado entre cada fila -->
              <label cLabel class="col-sm-6 col-form-label">Nombre de Producto</label>
              <div class="col-sm-6">
                <input ngModel name="nombreProducto" cFormControl type="text" required class="form-control"/>
                <div *ngIf="f.submitted && f.controls['nombreProducto']?.invalid" class="text-danger">
                  Este campo es obligatorio.
                </div>
              </div>
            </c-row>

            <c-row class="mb-3"> <!-- Espaciado entre cada fila -->
              <label cLabel class="col-sm-6 col-form-label">Stock</label>
              <div class="col-sm-6">
                <input ngModel name="stock" cFormControl type="number" required class="form-control"/>
                <div *ngIf="f.submitted && f.controls['stock']?.invalid" class="text-danger">
                  Este campo es obligatorio.
                </div>
              </div>
            </c-row>
          </div>

          <div class="col-sm-6">
            <c-row class="mb-3"> <!-- Espaciado entre cada fila -->
              <label cLabel class="col-sm-6 col-form-label">Precio Unitario</label>
              <div class="col-sm-6">
                <input
                  ngModel
                  name="precioUnitario"
                  cFormControl
                  type="number" required step="0.01" min="0"
                  class="form-control"/>
                <div *ngIf="f.submitted && f.controls['precioUnitario']?.invalid" class="text-danger">
                  Este campo es obligatorio.
                </div>
              </div>
            </c-row>

            <c-row class="mb-3"> <!-- Espaciado entre cada fila -->
              <label cLabel class="col-sm-6 col-form-label">Categoria</label>
              <div class="col-sm-6">
                <input ngModel name="categoria" cFormControl required type="text" class="form-control"/>
                <div *ngIf="f.submitted && f.controls['categoria']?.invalid" class="text-danger">
                  Este campo es obligatorio.
                </div>
              </div>
            </c-row>

            <c-row class="mb-3"> <!-- Espaciado entre cada fila -->
              <label cLabel class="col-sm-6 col-form-label">Proveedor</label>
              <div class="col-sm-6">
                <input ngModel name="proveedor" cFormControl required type="text" class="form-control"/>
                <div *ngIf="f.submitted && f.controls['subcategoria']?.invalid" class="text-danger">
                  Este campo es obligatorio.
                </div>
              </div>
            </c-row>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-sm-6">
            <c-row class="mb-3"> <!-- Espaciado entre cada fila -->
              <label cLabel class="col-sm-6 col-form-label">Subcategoria</label>
              <div class="col-sm-6">
                <input ngModel name="subcategoria" cFormControl required type="text" class="form-control"/>
                <div *ngIf="f.submitted && f.controls['proveedor']?.invalid" class="text-danger">
                  Este campo es obligatorio.
                </div>
              </div>
            </c-row>
          </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button cButton color="primary" type="submit">Crear Producto</button>
        </div>
      </form>

      <c-modal [(visible)]="modalVisible" backdrop="static" keyboard="false">
        <c-modal-header>
          <h5 cModalTitle>Información</h5>
        </c-modal-header>
        <c-modal-body>
          {{ modalMessage }}
        </c-modal-body>
        <c-modal-footer>
          <button cButton color="primary" (click)="closeModal()">Cerrar</button>
        </c-modal-footer>
      </c-modal>
    </c-card-body>
  </c-card>
</c-col>
